# 공해 데이터

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df = pd.read_csv('./seoul_air_1988_2021.csv/seoul_air_1988_2021.csv')
df.head()

,dt,loc,lat,long,so2,no2,co,o3,pm10,pm2.5
0,1988010100,103,37.540037,127.002661,NaN,0.007,10.3,0.000,NaN,NaN
1,1988010100,105,37.593730,126.947561,0.340,0.055,12.6,0.043,NaN,NaN
2,1988010100,107,37.542043,127.047497,0.399,0.046,13.4,NaN,NaN,NaN
3,1988010100,108,37.547185,127.090304,0.261,0.034,5.4,0.000,NaN,NaN
4,1988010100,113,37.654140,127.026801,0.443,0.039,14.6,0.000,NaN,NaN

In [23]:
df_2 = df.drop(['loc', 'lat', 'long'], axis=1)

In [24]:
df_2.head()
df_2.info()

<class 'pandas.DataFrame'>
RangeIndex: 5984782 entries, 0 to 5984781
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   dt      int64
 1   so2     float64
 2   no2     float64
 3   co      float64
 4   o3      float64
 5   pm10    float64
 6   pm2.5   float64
dtypes: float64(6), int64(1)
memory usage: 319.6 MB

In [25]:
df_2.loc[:, "year"] = df_2["dt"] // 1_000_000
df_2.loc[:, "month"] = df_2["dt"] % 1_000_000 // 10_000
df_2.loc[:, "date"] = df_2["dt"] % 10_000 // 100

front = ["year", "month", "date"]
others = [c for c in df_2.columns if c not in front]
df_2 = df_2[front + others]

df_2 = df_2.drop(["dt"], axis=1)
df_2

         year  month  date    so2    no2    co     o3  pm10  pm2.5
0        1988      1     1    NaN  0.007  10.3  0.000   NaN    NaN
1        1988      1     1  0.340  0.055  12.6  0.043   NaN    NaN
2        1988      1     1  0.399  0.046  13.4    NaN   NaN    NaN
3        1988      1     1  0.261  0.034   5.4  0.000   NaN    NaN
4        1988      1     1  0.443  0.039  14.6  0.000   NaN    NaN
...       ...    ...   ...    ...    ...   ...    ...   ...    ...
5984777  2021     12    31  0.003  0.027   0.5  0.016  21.0    9.0
5984778  2021     12    31  0.003  0.021   0.4  0.023  16.0   10.0
5984779  2021     12    31  0.003  0.019   0.4  0.024  18.0    6.0
5984780  2021     12    31  0.003  0.025   0.5  0.020  21.0    8.0
5984781  2021     12    31  0.002  0.020   0.4  0.020  22.0   10.0

[5984782 rows x 9 columns]

In [26]:
df_3 = df_2[(df_2["year"] >= 2017) & (df_2["year"] <= 2019)]
df_3

         year  month  date    so2    no2   co     o3  pm10  pm2.5
4907071  2017      1     1    NaN  0.059  1.2  0.002  73.0   57.0
4907072  2017      1     1  0.006  0.068  1.3  0.002  77.0   63.0
4907073  2017      1     1  0.005  0.039  1.4  0.002  70.0   68.0
4907074  2017      1     1  0.005  0.045  0.6  0.003  73.0   46.0
4907075  2017      1     1  0.005  0.044  1.0  0.004  81.0   44.0
...       ...    ...   ...    ...    ...  ...    ...   ...    ...
5553577  2019     12    31  0.003  0.042  0.5  0.013  29.0   16.0
5553578  2019     12    31  0.003  0.047  0.4  0.007  24.0   15.0
5553579  2019     12    31  0.003  0.039  0.5  0.003  19.0   13.0
5553580  2019     12    31  0.003  0.035  0.5  0.004  20.0   13.0
5553581  2019     12    31  0.003  0.037  0.5  0.005  27.0   18.0

[646511 rows x 9 columns]

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import beta

In [28]:
group_cols = ["year", "month", "date"]
target_cols = ["so2", "no2", "co", "o3", "pm10", "pm2.5"]

df_3[target_cols] = (
    df_3.groupby(group_cols)[target_cols]
        .transform(lambda x: x.fillna(x.mean()))
)

In [29]:
df_3.head()

         year  month  date       so2    no2   co     o3  pm10  pm2.5
4907071  2017      1     1  0.005304  0.059  1.2  0.002  73.0   57.0
4907072  2017      1     1  0.006000  0.068  1.3  0.002  77.0   63.0
4907073  2017      1     1  0.005000  0.039  1.4  0.002  70.0   68.0
4907074  2017      1     1  0.005000  0.045  0.6  0.003  73.0   46.0
4907075  2017      1     1  0.005000  0.044  1.0  0.004  81.0   44.0

In [30]:
df_3 = df_3.groupby(["year", "month", "date"], as_index=False).mean().round(2)
df_3

      year  month  date   so2   no2    co    o3    pm10  pm2.5
0     2017      1     1  0.01  0.05  0.99  0.00   77.33  56.78
1     2017      1     2  0.01  0.04  0.89  0.02  110.66  78.61
2     2017      1     3  0.01  0.04  0.78  0.01   78.60  51.50
3     2017      1     4  0.01  0.05  0.89  0.01   54.88  34.36
4     2017      1     5  0.00  0.04  0.66  0.01   35.85  22.22
...    ...    ...   ...   ...   ...   ...   ...     ...    ...
1090  2019     12    27  0.00  0.03  0.55  0.02   33.92  23.05
1091  2019     12    28  0.00  0.04  0.68  0.01   42.83  25.31
1092  2019     12    29  0.00  0.04  0.64  0.01   44.45  27.31
1093  2019     12    30  0.00  0.03  0.61  0.01   35.87  24.87
1094  2019     12    31  0.00  0.02  0.40  0.02   24.60  14.83

[1095 rows x 9 columns]

In [31]:
bins = [-np.inf, 0.02, 0.05, 0.15, np.inf]
labels = ["좋음", "보통", "나쁨", "매우나쁨"]

df_3.loc[:, "so2_level"] = pd.cut(df_3["so2"], bins=bins, labels=labels)
df_3

      year  month  date   so2   no2    co    o3    pm10  pm2.5 so2_level
0     2017      1     1  0.01  0.05  0.99  0.00   77.33  56.78        좋음
1     2017      1     2  0.01  0.04  0.89  0.02  110.66  78.61        좋음
2     2017      1     3  0.01  0.04  0.78  0.01   78.60  51.50        좋음
3     2017      1     4  0.01  0.05  0.89  0.01   54.88  34.36        좋음
4     2017      1     5  0.00  0.04  0.66  0.01   35.85  22.22        좋음
...    ...    ...   ...   ...   ...   ...   ...     ...    ...       ...
1090  2019     12    27  0.00  0.03  0.55  0.02   33.92  23.05        좋음
1091  2019     12    28  0.00  0.04  0.68  0.01   42.83  25.31        좋음
1092  2019     12    29  0.00  0.04  0.64  0.01   44.45  27.31        좋음
1093  2019     12    30  0.00  0.03  0.61  0.01   35.87  24.87        좋음
1094  2019     12    31  0.00  0.02  0.40  0.02   24.60  14.83        좋음

[1095 rows x 10 columns]

In [32]:
mapping = {
    "좋음": 0,
    "보통": 1,
    "나쁨": 2,
    "매우나쁨": 3
}

df_3["so2_level"] = df_3["so2_level"].map(mapping).astype(int)
df_3

      year  month  date   so2   no2    co    o3    pm10  pm2.5  so2_level
0     2017      1     1  0.01  0.05  0.99  0.00   77.33  56.78          0
1     2017      1     2  0.01  0.04  0.89  0.02  110.66  78.61          0
2     2017      1     3  0.01  0.04  0.78  0.01   78.60  51.50          0
3     2017      1     4  0.01  0.05  0.89  0.01   54.88  34.36          0
4     2017      1     5  0.00  0.04  0.66  0.01   35.85  22.22          0
...    ...    ...   ...   ...   ...   ...   ...     ...    ...        ...
1090  2019     12    27  0.00  0.03  0.55  0.02   33.92  23.05          0
1091  2019     12    28  0.00  0.04  0.68  0.01   42.83  25.31          0
1092  2019     12    29  0.00  0.04  0.64  0.01   44.45  27.31          0
1093  2019     12    30  0.00  0.03  0.61  0.01   35.87  24.87          0
1094  2019     12    31  0.00  0.02  0.40  0.02   24.60  14.83          0

[1095 rows x 10 columns]

In [33]:
bins1 = [-np.inf, 0.03, 0.06, 0.2, np.inf]
labels1 = ["좋음", "보통", "나쁨", "매우나쁨"]

df_3.loc[:, "no2_level"] = pd.cut(df_3["no2"], bins=bins1, labels=labels1)

In [38]:
mapping = {
    "좋음": 0,
    "보통": 1,
    "나쁨": 2,
    "매우나쁨": 3
}

df_3["no2_level"] = df_3["no2_level"].map(mapping).astype(int)

In [34]:
bins2 = [-np.inf, 2, 9, 15, np.inf]
labels2 = ["좋음", "보통", "나쁨", "매우나쁨"]

df_3.loc[:, "co_level"] = pd.cut(df_3["co"], bins=bins2, labels=labels2)

In [39]:
mapping = {
    "좋음": 0,
    "보통": 1,
    "나쁨": 2,
    "매우나쁨": 3
}

df_3["co_level"] = df_3["co_level"].map(mapping).astype(int)

In [35]:
bins = [-np.inf, 0.03, 0.09, 0.15, np.inf]
labels = ["좋음", "보통", "나쁨", "매우나쁨"]

df_3.loc[:, "o3_level"] = pd.cut(df_3["o3"], bins=bins, labels=labels)

In [40]:
mapping = {
    "좋음": 0,
    "보통": 1,
    "나쁨": 2,
    "매우나쁨": 3
}

df_3["o3_level"] = df_3["o3_level"].map(mapping).astype(int)

In [36]:
bins = [-np.inf, 30, 80, 150, np.inf]
labels = ["좋음", "보통", "나쁨", "매우나쁨"]

df_3.loc[:, "pm10_level"] = pd.cut(df_3["pm10"], bins=bins, labels=labels)

In [41]:
mapping = {
    "좋음": 0,
    "보통": 1,
    "나쁨": 2,
    "매우나쁨": 3
}

df_3["pm10_level"] = df_3["pm10_level"].map(mapping).astype(int)

In [37]:
bins = [-np.inf, 15, 35, 75, np.inf]
labels = ["좋음", "보통", "나쁨", "매우나쁨"]

df_3.loc[:, "pm2.5_level"] = pd.cut(df_3["pm2.5"], bins=bins, labels=labels)

In [42]:
mapping = {
    "좋음": 0,
    "보통": 1,
    "나쁨": 2,
    "매우나쁨": 3
}

df_3["pm2.5_level"] = df_3["pm2.5_level"].map(mapping).astype(int)

In [45]:
df_3

,year,month,date,so2,no2,co,o3,pm10,pm2.5,so2_level,no2_level,co_level,o3_level,pm10_level,pm2.5_level
0,2017,1,1,0.01,0.05,0.99,0.00,77.33,56.78,0,1,0,0,1,2
1,2017,1,2,0.01,0.04,0.89,0.02,110.66,78.61,0,1,0,0,2,3
2,2017,1,3,0.01,0.04,0.78,0.01,78.60,51.50,0,1,0,0,1,2
3,2017,1,4,0.01,0.05,0.89,0.01,54.88,34.36,0,1,0,0,1,1
4,2017,1,5,0.00,0.04,0.66,0.01,35.85,22.22,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,2019,12,27,0.00,0.03,0.55,0.02,33.92,23.05,0,0,0,0,1,1
1091,2019,12,28,0.00,0.04,0.68,0.01,42.83,25.31,0,1,0,0,1,1
1092,2019,12,29,0.00,0.04,0.64,0.01,44.45,27.31,0,1,0,0,1,1
1093,2019,12,30,0.00,0.03,0.61,0.01,35.87,24.87,0,0,0,0,1,1
1094,2019,12,31,0.00,0.02,0.40,0.02,24.60,14.83,0,0,0,0,0,0

## 교통사고 데이터

In [233]:
data = pd.read_csv('./Seoul_Traffic_Accident_20172019.csv/Seoul_Traffic_Accident_20172019.csv')
data

,Unnamed: 0,발생일,발생시간,발생지_시도,발생지_시군구,법정동명,사고건수,사망자수,중상자수,경상자수,부상신고자수
0,0,2017-01-01,0,서울,강북구,미아동,1,0,1,6,0
1,1,2017-01-01,0,서울,노원구,상계동,1,0,0,1,0
2,2,2017-01-01,0,서울,동작구,상도동,1,0,0,1,0
3,3,2017-01-01,0,서울,서초구,서초동,1,0,0,1,0
4,4,2017-01-01,0,서울,송파구,잠실동,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
114438,114438,2019-12-31,22,서울,송파구,송파동,1,0,0,1,0
114439,114439,2019-12-31,22,서울,영등포구,대림동,1,0,0,1,0
114440,114440,2019-12-31,22,서울,중랑구,면목동,1,0,0,0,1
114441,114441,2019-12-31,23,서울,강남구,수서동,1,0,0,1,0
114442,114442,2019-12-31,23,서울,강남구,역삼동,1,0,0,0,2

In [234]:
data = data.drop(["Unnamed: 0"], axis=1)

data.loc[:, "year"] = data["발생일"].str[:4].astype(int)
data.loc[:, "month"] = data["발생일"].str[5:7].astype(int)
data.loc[:, "date"] = data["발생일"].str[8:].astype(int)

front = ["year", "month", "date"]
others = [c for c in data.columns if c not in front]
data = data[front + others]

data = data.drop(["발생일"], axis=1)

data.info()

<class 'pandas.DataFrame'>
RangeIndex: 114443 entries, 0 to 114442
Data columns (total 12 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   year     114443 non-null  int64
 1   month    114443 non-null  int64
 2   date     114443 non-null  int64
 3   발생시간     114443 non-null  int64
 4   발생지_시도   114443 non-null  str
 5   발생지_시군구  114443 non-null  str
 6   법정동명     114438 non-null  str
 7   사고건수     114443 non-null  int64
 8   사망자수     114443 non-null  int64
 9   중상자수     114443 non-null  int64
 10  경상자수     114443 non-null  int64
 11  부상신고자수   114443 non-null  int64
dtypes: int64(9), str(3)
memory usage: 10.5 MB

In [235]:
data = data.drop(['발생시간', '발생지_시도', '부상신고자수'], axis=1)

In [236]:
data

        year  month  date 발생지_시군구 법정동명  사고건수  사망자수  중상자수  경상자수
0       2017      1     1     강북구  미아동     1     0     1     6
1       2017      1     1     노원구  상계동     1     0     0     1
2       2017      1     1     동작구  상도동     1     0     0     1
3       2017      1     1     서초구  서초동     1     0     0     1
4       2017      1     1     송파구  잠실동     1     0     0     1
...      ...    ...   ...     ...  ...   ...   ...   ...   ...
114438  2019     12    31     송파구  송파동     1     0     0     1
114439  2019     12    31    영등포구  대림동     1     0     0     1
114440  2019     12    31     중랑구  면목동     1     0     0     0
114441  2019     12    31     강남구  수서동     1     0     0     1
114442  2019     12    31     강남구  역삼동     1     0     0     0

[114443 rows x 9 columns]

In [237]:
agg_dict = {
    "사고건수":"sum",
    "사망자수":"sum",
    "중상자수":"sum",
    "경상자수":"sum"
}
datas_by_month = data.groupby(["year", "month", "date"]).agg(agg_dict)
datas_by_month

                 사고건수  사망자수  중상자수  경상자수
year month date
2017 1     1       73     2    25    90
           2       82     4    27    92
           3       88     1    25    80
           4      115     1    39    99
           5      103     1    34   111
...               ...   ...   ...   ...
2019 12    27      94     0    27    88
           28      94     0    27   105
           29      78     1    26    87
           30      91     1    19    93
           31     106     2    20   102

[1095 rows x 4 columns]

In [239]:
agg_dict = {
    "사고건수":"sum",
    "사망자수":"sum",
    "중상자수":"sum",
    "경상자수":"sum"
}
datas_by_zone = data.groupby(["발생지_시군구", "법정동명"]).agg(agg_dict)
datas_by_zone.loc[:, "per_death"] = (datas_by_zone["사망자수"] / datas_by_zone["사고건수"] * 100).round(2)
datas_by_zone.loc[:, "per_fatal"] = (datas_by_zone["중상자수"] / datas_by_zone["사고건수"] * 100).round(2)
datas_by_zone = datas_by_zone.reset_index()
datas_by_zone[datas_by_zone["사고건수"] >= 100]

    발생지_시군구 법정동명  사고건수  사망자수  중상자수  경상자수  per_death  per_fatal
0       강남구  개포동   564     5   165   566       0.89      29.26
1       강남구  논현동  1801     4   384  2004       0.22      21.32
2       강남구  대치동  1334     4   380  1233       0.30      28.49
3       강남구  도곡동   641     3   186   632       0.47      29.02
4       강남구  삼성동   963     4   253  1029       0.42      26.27
..      ...  ...   ...   ...   ...   ...        ...        ...
461     중랑구  면목동  1707    10   487  1531       0.59      28.53
462     중랑구   묵동   508     2   190   383       0.39      37.40
463     중랑구  상봉동   699     6   226   624       0.86      32.33
464     중랑구  신내동   568     4   174   549       0.70      30.63
465     중랑구  중화동   609     2   193   546       0.33      31.69

[211 rows x 8 columns]